@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  img {
    @apply w-full;
  }

  .section {
    @apply container mx-auto py-24 px-6;
  }
  .animate-slide:hover {
    animation-play-state: paused;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
